<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Door_out">
  <link
    name="Door_out">
    <inertial>
      <origin
        xyz="-9.131E-16 1.5256364839277E-16 1.3579"
        rpy="0 0 0" />
      <mass
        value="25.078" />
      <inertia
        ixx="12.206"
        ixy="-6.37909999999985E-17"
        ixz="-2.445E-14"
        iyy="16.813"
        iyz="-4.60675056492765E-16"
        izz="4.7746" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Door_out/meshes/Door_out.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
        <texture
          filename="package://Door_out/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Door_out/meshes/Door_out.STL" />
      </geometry>
    </collision>
  </link>
</robot>