<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="AutoRecover Of UT_Hallway">
  <link
    name="AutoRecover Of UT_Hallway">
    <inertial>
      <origin
        xyz="-4.1092 -1.38 -2.0568"
        rpy="0 0 0" />
      <mass
        value="25709" />
      <inertia
        ixx="8187100"
        ixy="-6.3501104638376E-11"
        ixz="977800"
        iyy="8624900"
        iyz="-5.11867564096344E-10"
        izz="470450" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://AutoRecover Of UT_Hallway/meshes/AutoRecover Of UT_Hallway.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://AutoRecover Of UT_Hallway/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://AutoRecover Of UT_Hallway/meshes/AutoRecover Of UT_Hallway.STL" />
      </geometry>
    </collision>
  </link>
</robot>