<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="UT_Hallway_fin">
  <link
    name="UT_Hallway_fin">
    <inertial>
      <origin
        xyz="-3.8601 -7.9471 2.7308"
        rpy="0 0 0" />
      <mass
        value="19841" />
      <inertia
        ixx="5721000"
        ixy="847800"
        ixz="7398.70000000005"
        iyy="378450"
        iyz="49770.0000000003"
        izz="6081000" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://UT_Hallway_fin/meshes/UT_Hallway_fin.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://UT_Hallway_fin/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://UT_Hallway_fin/meshes/UT_Hallway_fin.STL" />
      </geometry>
    </collision>
  </link>
</robot>