<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="table">

<!-- Table to place UR5 on -->
    <link name='table_link'>
      <visual>
      <origin xyz="0 0.0 0.0" rpy="1.57 0 3.142"/>
        <geometry>
            <mesh filename="file://$(find unitartu_tech_gazebo)/models/Table/meshes/Table_new.dae" />
        </geometry>
      </visual>
      <collision>
      <origin xyz="0 0.0 0.0" rpy="1.57 0 3.142"/>
        <geometry>
            <mesh filename="file://$(find unitartu_tech_gazebo)/models/Table/meshes/Table_new.dae" />
        </geometry>
      </collision>
      <!-- <inertial>
        <mass value="200"/>
          <inertia ixx="0.0222" ixy="0.0" ixz="0.0" iyy="0.0222" iyz="0.0" izz="0.036"/>
      </inertial> -->
    </link>

    
</robot>