<?xml version="1.0"?>
<launch>
 <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="gui" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="world_name" value="$(find unitartu_tech_gazebo)/world/Hallway_test.world"/>
</include>
  <!-- Model Dynamic Manager -->
  <arg name="add_group_srv" value="/model_dynamics_manager/add_control_group"/>

  <node pkg="dynamic_gazebo_models" type="dynamics_manager" name="dynamics_manager" output="screen"/>

  <!-- My Doors-->
  <!-- 1 -->
  <param name="spawn_UT_door" command="$(find xacro)/xacro $(find unitartu_tech_gazebo)/models/Door_in/model.sdf" />
  <node pkg="gazebo_ros" type="spawn_model" name="gazebo_door1" args="-sdf -param spawn_UT_door -model door_1 -x -5.901760 -y 25.354313 -z 0" respawn="false" output="screen"/>
  <!-- 2 -->
  <param name="spawn_UT_door" command="$(find xacro)/xacro $(find unitartu_tech_gazebo)/models/Door_in/model.sdf" />
  <node pkg="gazebo_ros" type="spawn_model" name="gazebo_door2" args="-sdf -param spawn_UT_door -model door_2 -x -5.901760 -y 20.721661 -z 0" respawn="false" output="screen"/>
  <!-- 3 -->
  <param name="spawn_UT_door" command="$(find xacro)/xacro $(find unitartu_tech_gazebo)/models/Door_in/model.sdf" />
  <node pkg="gazebo_ros" type="spawn_model" name="gazebo_door3" args="-sdf -param spawn_UT_door -model door_3 -x -5.901760 -y 15.761647 -z 0" respawn="false" output="screen"/>
  <!-- 4 -->
  <param name="spawn_UT_door" command="$(find xacro)/xacro $(find unitartu_tech_gazebo)/models/Door_in/model.sdf" />
  <node pkg="gazebo_ros" type="spawn_model" name="gazebo_door4" args="-sdf -param spawn_UT_door -model door_4 -x -5.901760 -y 10.966283 -z 0" respawn="false" output="screen"/>
  <!-- 5 -->
  <param name="spawn_UT_door" command="$(find xacro)/xacro $(find unitartu_tech_gazebo)/models/Door_in/model.sdf" />
  <node pkg="gazebo_ros" type="spawn_model" name="gazebo_door5" args="-sdf -param spawn_UT_door -model door_5 -x -6.483950 -y 7.581630 -z 0" respawn="false" output="screen"/>


</launch>


